@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));



:root {
  /* Mantén solo lo que aporta valor extra */
  color-scheme: light dark;                 /* (opcional) */
  -webkit-font-smoothing: antialiased;      /* (opcional) */
  -moz-osx-font-smoothing: grayscale;       /* (opcional) */
}

